<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">


h1 {
    color:brown

}
header {

    background-color: burlywood;
    text-align: center;
 }

header {}

 h2 { color: blue;
      
       

}
      
 section {
    background-color: aqua;
    font-family: 'Roboto Slab', serif;
 }

 form {
      background-color: #3590ff;
      border: 25px;
      height: 200px;
      width: 800px;
      font-family: 'Roboto Slab', serif;
      
      
 }
 button  {
    color: rgb(85, 209, 27);
 }

 aside {
   font-style: italic;
   color: brown;
 }

 
